:root {
    --white: #ffffff;
    --dark: #212121;
    --primary: #FFC107;
    --secondary: #0097A7;
    --gray: #757575;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 16px; /* 1rem = 10px */
    font-family: "Krub", sans-serif;
}

.title {
    text-align: center;
    font-size: 3.8rem;
    font-style: normal;
}

.title span{
    font-size: 2rem;
}

.container {
    max-width: 120rem;
    margin: 0 auto; /*up and down - left and right */
}

.nav-bg {
    background-color: var(--secondary);
}

.main-navigation {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .main-navigation {
        flex-direction: row;
        justify-content: space-between;
    }
}

.main-navigation a {
    display: block;
    text-align: center;
    padding: 1rem;
    color: var(--white);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
}

.main-navigation a:hover{
    background-color: var(--primary);
    color: var(--dark);
}